@model PropertyAgency.Models.ViewModels.Property.PropertyFormViewModel

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>
<head>
    @Styles.Render("~/Content/propForm.css")
</head>
@using (Html.BeginForm("Edit", "Edit", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{

    @Html.AntiForgeryToken()

    @*Address*@
    @Html.ValidationSummary("", new { @class = "text-danger" })

    <input id="id" type="hidden" name="id" value="@Model.Id" />

    <div class="control-group">
        @Html.LabelFor(m => m.FullAddress, new { @class = "col-sm-2 control-label" })
        <div class="col-sm-10">
            @*<input type="text" class="form-control" id="FullAddress" placeholder="FullAddress" name="FullAddress">*@
            @Html.TextBoxFor(m => m.FullAddress, new { @class = "form-control" })
        </div>
    </div>
    @*Size*@
    <div class="control-group">
        @Html.LabelFor(m => m.ApartmentSize, new { @class = "col-sm-2 control-label" })
        <div class="col-sm-10">
            @*<input type="number" class="form-control" id="ApartmentSize" placeholder="ApartmentSize" name="ApartmentSize">*@
            @Html.EditorFor(m => m.ApartmentSize, new { @class = "form-control" })
        </div>
    </div>
    @*Number of rooms*@
    <div class="control-group">
        @Html.LabelFor(m => m.NumberOfRooms, new { @class = "col-sm-2 control-label" })
        <div class="col-sm-10">
            @Html.EditorFor(m => m.NumberOfRooms, new { @class = "form-control" })
            @*<input type="number" class="form-control" id="NumberOfRooms" placeholder="NumberOfRooms" name="NumberOfRooms">*@
        </div>
    </div>
    @*IS Active*@
    <div class="control-group">
        @Html.LabelFor(m => m.IsActive, new { @class = "col-sm-2 control-label" })
        <div class="col-sm-10">
            <input type="radio" name="IsActive" value="true" checked>Yes<br>
            <input type="radio" name="IsActive" value="false">No
        </div>
    </div>
    @*Type of property for rent or sale*@
    <div class="control-group">
        @Html.LabelFor(m => m.Type, new { @class = "col-sm-2 control-label" })
        <div class="col-sm-10">
            <input type="radio" name="Type" value="Rent" checked>For Rent<br>
            <input type="radio" name="Type" value="Sale">For Sale
        </div>
    </div>

    @*Price*@
    <div class="control-group">
        @Html.LabelFor(m => m.Price, new { @class = "col-sm-2 control-label" })
        <div class="col-sm-10">
            @*<input type="number" class="form-control" id="Price" placeholder="Price" name="Price">*@
            @Html.EditorFor(m => m.Price, new { @class = "form-control" })
            @*Picture*@
            <div class="control-group">
                @Html.LabelFor(m => m.UrlPicture, new { @class = "col-md-2 control-label" })
                <div class="col-sm-10">
                  
                    @Html.TextBoxFor(m => m.UrlPicture, new { @class = "form-control" })
                    @*<input type="text" class="form-control" id="UrlPicture" placeholder="UrlPicture" name="UrlPicture">*@
                </div>
            </div>
        </div>
    </div>
    @*LandlordList*@
    @*<div class="control-group">
            @Html.LabelFor(m => m.LandlordsList, new { @class = "col-sm-2 control-label" })
            <div class="col-sm-10">
                <select class="form-control" id="LandlordsList" name="LandlordId">
                    @foreach (var landlord in @Model.LandlordsList)
                    {
                        <option value="@landlord.Id">@landlord.FullName</option>
                    }
                </select>
            </div>
        </div>*@

    <div class="control-group">
        <!-- Button -->
        <div class="controls">
            <button class="btn btn-success" type="submit">Add Property</button>
        </div>
    </div>
    @*</form>*@
}
