@model PropertyAgency.Models.ViewModels.Property.PropertyFormViewModel

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>
<head>
    @Styles.Render("~/Content/propForm.css")
</head>
@using (Html.BeginForm("Edit", "Edit", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{

    @Html.AntiForgeryToken()

    @*Address*@
    @Html.ValidationSummary("", new { @class = "text-danger" })

    <input id="id" type="hidden" name="id" value="@Model.Id" />

    <div class="control-group">
        @Html.LabelFor(m => m.FullAddress, "Full Address", new { @class = "col-sm-2 control-label" })
        <div class="col-sm-10">
            @Html.TextBoxFor(m => m.FullAddress, new { @class = "form-control", placeholder = "Town, Street, Block etc." })
        </div>
    </div>
    @*Size*@
    <div class="control-group">
        @Html.LabelFor(m => m.ApartmentSize, "Apartment Size", new { @class = "col-sm-2 control-label" })
        <div class="col-sm-10">
            @Html.EditorFor(m => m.ApartmentSize, new { htmlAttributes = new { @class = "form-control", placeholder = "Size of Property" } })
        </div>
    </div>
    @*Number of rooms*@
    <div class="control-group">
        @Html.LabelFor(m => m.NumberOfRooms, "Number of Rooms", new { @class = "col-sm-2 control-label" })
        <div class="col-sm-10">
            @Html.EditorFor(m => m.NumberOfRooms, new { htmlAttributes = new { @class = "form-control", placeholder = "Number of Rooms" } })
        </div>
    </div>
    @*IS Active*@
    <div class="control-group">
        @Html.LabelFor(m => m.IsActive, "Is Avaible", new { @class = "col-sm-2 control-label" })
        <div class="col-sm-10">
          <span>Yes</span>  @Html.RadioButtonFor(m => m.IsActive,"true")
          <span>No</span>  @Html.RadioButtonFor(m => m.IsActive, "false")
        </div>
    </div>
    @*Type of property for rent or sale*@
    <div class="control-group">
        @Html.LabelFor(m => m.Type, "Type of the Property", new { @class = "col-sm-2 control-label" })
        <div class="col-sm-10">
           <span>Rent</span> @Html.RadioButtonFor(m => m.Type, "Rent")
           <span>Sale</span> @Html.RadioButtonFor(m => m.Type, "Sale")
        </div>
    </div>

    @*Price*@
    <div class="control-group">
        @Html.LabelFor(m => m.Price, new { @class = "col-sm-2 control-label" })
        <div class="col-sm-10">
            @Html.EditorFor(m => m.Price, new { htmlAttributes = new { @class = "form-control", placeholder = "Price" } })
            @*Picture*@
            <div class="control-group">
                @Html.LabelFor(m => m.UrlPicture, "Picture Address", new { @class = "col-md-2 control-label" })
                <div class="col-sm-10">
                  
                    @Html.TextBoxFor(m => m.UrlPicture, new { @class = "form-control", placeholder = "Url picture address" })
                </div>
            </div>
        </div>
    </div>
    @*LandlordList*@
    @*<div class="control-group">
            @Html.LabelFor(m => m.LandlordsList, new { @class = "col-sm-2 control-label" })
            <div class="col-sm-10">
                <select class="form-control" id="LandlordsList" name="LandlordId">
                    @foreach (var landlord in @Model.LandlordsList)
                    {
                        <option value="@landlord.Id">@landlord.FullName</option>
                    }
                </select>
            </div>
        </div>*@

    <div class="control-group">
        <!-- Button -->
        <div class="controls">
            <button class="btn btn-success" type="submit">Add Property</button>
        </div>
    </div>
    @*</form>*@
}
